---
import Secundario from "../layouts/Secundario.astro";
import HeroStatic from "../components/section/HeroStatic.astro";
import TitleDescripcion from "../components/ui/TitleDescripcion.astro";
import ReviweSecction from "../components/section/ReviweSecction.astro";
import { qillary } from "../data/qillary";
const mensaje = encodeURIComponent(qillary.contact.contactos[1].mensaje);
---

<Secundario
  title="Contact Us Now The Best Travel Expert"
  description="With years of experience guiding travelers through Peru, we know how to make every journey seamless and inspiring."
  url="contacus"
>
  <HeroStatic src="" />

  <header class="mb-5 text-center">
    <TitleDescripcion
      extra="mt-10"
      pretitulo="The Best"
      titulo="Travel Expert"
      descripcion=" With years of experience guiding travelers through Peru, we know how to make every journey seamless and inspiring."
    />
  </header>

  <section
    class="flex flex-col-reverse lg:grid lg:grid-cols-8 max-w-5xl mx-auto items-center md:py-10 px-8 md:px-4"
  >
    <div class="max-w-2xl pr-8 col-span-4">
      <h1 class="text-2xl font-bold mb-2">Contact Us Now</h1>
      <p class="mb-2">
        Planning your next adventure? Our bilingual team is here to guide you
        every step of the way—before, during, and after your trip.
      </p>
      <p class="mb-2">
        Have questions about tours, availability, or customizing your
        experience? Don’t hesitate—we’re just a message away.
      </p>
      <p class="mb-8">
        Reach out via WhatsApp, email, or phone, and we’ll get back to you
        within 24 hours. Your dream journey through Peru starts here.
      </p>
      <a
        title="Contact us Whatsapp"
        href={`https://wa.me/${qillary.contact.contactos[1].valor.trim().replace(/\s+/g, "").replace("+", "")}?text=${mensaje}&type=phone_number&app_absent=0`}
        class="text-white py-4 px-8 bg-qillary-aqua font-semibold"
      >
        Contact Us
      </a>
    </div>

    <figure
      class="col-span-4 my-4 md:w-1/2 lg:w-full xl:w-100 items-center relative group overflow-hidden"
    >
      <img
        src={qillary.team.imagen}
        alt={qillary.team.alt}
        title={qillary.team.title}
        class="object-cover w-full h-auto"
      />
      <figcaption
        class="lg:absolute md:text-center h-30 z-1 group-hover:bottom-0 transition-all duration-300 bg-qillary-aqua p-4"
      >
        <h3 class="font-semibold text-white">{qillary.team.nombre}</h3>
        <p class="mt-1 text-xs text-white">{qillary.team.descripcion}</p>
      </figcaption>
    </figure>
  </section>
  <section
    class="grid grid-cols-1 md:grid-cols-2 max-w-5xl gap-6 my-4 place-items-center mx-auto"
  >
    {
      qillary.contact.oficinas.map((element) => (
        <article class="space-y-2 w-80">
          <h3 class="text-xl font-semibold">{element.ciudad}</h3>
          <p class="pb-4">{element.descripcion}</p>
          <address class="not-italic">
            <p>
              <strong>Email:</strong>
              <a
                title="Contact us email"
                href="mailto:setsail@example.com"
                class="hover:text-amber-600 focus:text-amber-600"
              >
                {qillary.contact.contactos[0].valor}
              </a>
            </p>
            <strong>Phone:</strong>{" "}
            <a
              class="hover:text-amber-600 focus:text-amber-600"
              href={`https://wa.me/${qillary.contact.contactos[1].valor}`}
              target="_blank"
              title="Contact us Whatsapp"
              rel="noopener"
            >
              {qillary.contact.contactos[1].valor}
            </a>
            <p class="py-4">{element.direccion}</p>
          </address>
        </article>
      ))
    }
  </section>

  <ReviweSecction />
  <section class="px-8 py-4">
    <form
      id="form"
      class="max-w-6xl mx-auto space-y-4 border text-white font-semibold p-4 bg-qillary-aqua"
    >
      <h2 class="text-lg font-bold mb-4">Leave a Reply</h2>
      <!-- Campo de mensaje -->
      <textarea
        name="message"
        id="message"
        class="w-full p-4 placeholder-white resize-none bg-white/25"
        placeholder="Message*"
        required></textarea>

      <!-- Campos de email y nombre en fila -->
      <div class="flex flex-col md:flex-row gap-4">
        <input
          type="email"
          name="email"
          id="email"
          class="w-full placeholder-white md:w-1/2 p-4 bg-white/25"
          placeholder="Email*"
          required
        />
        <input
          name="name"
          id="name"
          type="text"
          class="w-full placeholder-white md:w-1/2 p-4 bg-white/25"
          placeholder="Name*"
          required
        />
      </div>

      <!-- Botón de envío -->
      <input
        type="submit"
        id="button"
        value="Send Email"
        class="w-full p-4 text-black bg-white"
        placeholder="SEND"
      />
    </form>
  </section>
</Secundario>

<script is:inline>

  document.getElementById("form").addEventListener("submit", function (event) {
    event.preventDefault();

    const btn = document.getElementById("button");
    btn.value = "Sending...";

    const serviceID = "default_service";
    const templateID = "template_3cdp8t7";

    emailjs.sendForm(serviceID, templateID, this).then(
      () => {
        btn.value = "Send Email";
        alert("Message sent successfully!");
      },
      (err) => {
        btn.value = "Send Email";
        alert("Failed to send message. Error: " + JSON.stringify(err));
      }
    );
  });
</script>
