---
// Props esperados
const { data, duracion = 1, edad = "13+", region } = Astro.props;
const resumen = data.description.split(".");
const slug = data.name
  .toLowerCase()
  .replace(/&/g, "and") // reemplaza &
  .replace(/[^\w\s-]/g, "") // elimina símbolos
  .trim()
  .replace(/\s+/g, "-"); // espacios por guiones
---

<article
  class="max-w-lg border bg-white overflow-hidden shadow-md hover:shadow-xl transition-shadow duration-300"
  aria-label={`Destino: ${data.name}`}
>
  <figure>
    <a
      href={`/destinos/${slug}`}
      aria-label={`Ver detalles del destino ${data.name}`}
    >
      <img
        src={data.images === "" ? data.images[0] : "/src/assets/nice.png"}
        alt={`Imagen del destino ${data.name}`}
        class="w-full h-60 object-cover"
      />
    </a>
    <figcaption class="sr-only">{data.name}</figcaption>
  </figure>

  <section class="space-y-4 pb-4 min-h-60 flex flex-col">
    <ul
      class="flex justify-between text-sm bg-qillary-aqua py-2 px-6 text-white"
      aria-label="Información adicional"
    >
      <li class="flex items-center gap-1">
        <i class="fas fa-calendar-alt" aria-hidden="true"></i>
        <span>{duracion} día{duracion > 1 && "s"}</span>
      </li>
      <li class="flex items-center gap-1">
        <i class="fas fa-user" aria-hidden="true"></i>
        <span>{edad}</span>
      </li>
      <li class="flex items-center gap-1">
        <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
        <span>{region}</span>
      </li>
    </ul>
    <div class="px-4 pt-4 pb-2 space-y-2">
      <a
        href={`/multidays/${slug}`}
        aria-label={`Ver detalles del destino ${data.name}`}
        class="hover:text-qillary-aqua"
      >
        <h3 class="text-xl font-semibold mb-4">
          <span class="sr-only">{resumen}</span>{data.name}
        </h3>
      </a>
      <p class="text-gray-600 text-sm leading-relaxed line-clamp-3">
        {data.description}
      </p>
    </div>

    <p
      class="text-lg px-4 py-2 my-auto border"
      aria-label={`Precio: $${data.price}`}
    >
      ${data.price}
    </p>
  </section>
</article>
