---
const { label, href, children = [] } = Astro.props;
const hasChildren = children.length > 0;
---

<li class="poppins bg-white ">
  {
    hasChildren ? (
      <div class="group border-b border-gray-500  md:border-white  ">
        <p class="flex font-semibold escuchar relative group   items-center justify-between md px-2 py-2 cursor-pointer  text-black hover:text-qillary-aqua ">
          {label}
        </p>
        <ul class=" md:absolute  mb-4 md:bg-qillary-gris hidden md:pt-10 top-26  md:gap-4 group-focus:grid group-hover:grid lg:grid-cols-2 max-w-xl  w-auto md:pl-6 md:pr-4 md:mr-4">
          {children.map((subItem) => (
            <li class="pl-8 ">
              <a
              title={`${subItem.label} - Full tour in ${subItem.day}`}
                href={subItem.href}
                class="menu-link text-xs xl:text-sm block py-2 hover:text-cyan-600"
              >
              <i class="fas fa-map-marker-alt "></i>            <!-- Punto sólido grande -->

                {subItem.label}
              </a>
            </li>
          ))}
        </ul>
      </div>
    ) : (
      <a
        href={href}
        class="menu-link  border-b border-gray-500 md:border-white font-semibold flex items-center justify-between px-3 py-2 text-gray-800 hover:text-qillary-aqua "
      >
        {label}
      </a>
    )
  }
</li>
